body {
  margin: 0;
  background-color: aqua;
}

#container {
  max-width: 768px;
  background-color: rgb(122, 105, 98);
  margin-inline: auto;
  margin-block: 4rem;
  border-radius: 3px;
}

.cell {
  display: inline-block;
  width: 4px;
  height: 2px;
  aspect-ratio: 1/1;
  padding: 2.3rem;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  margin-bottom: 2px;
  margin-left: 5px;
}

.cell h3 {
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.random-number {
  display: block;
  margin-inline: auto;
  border: 1px solid black;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}
